/* UNIVERSAL */
* {
  box-sizing: border-box;
}


/* GENERAL */
body {
  font-family: Arial;
  margin: 0;
  /*background-color: #472929;*/
}

.header {
  font-family: 'Josefin Sans', sans-serif;
  padding: 60px;
  text-align: center;
  /*background: #3d1414;
  /color: #472929;*/
  font-size: 30px;
}

.footer {
  background: #3d1414;
  bottom: 0px;

  /*color: #472929;*/

  padding: 20px;

  text-align: center;

}

/* FÄRGTEMAN */

/* 1 (LIGHT) */
body {
  background-color: #998585;
  color:#2c0e0e;
}

.header {
  background: #472929;
  color: #3d1414;

}

.footer {
  background: #472929;
  color: #3d1414;
}

.openbtn {
  background-color: #3d1414;
  color: white;
}

/* 2 */




/*SIDEBAR*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #3d1414;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #2c0e0e70;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* RESPONSIVITY */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}


.row {
  display: flex;
  flex-direction: row;
}

.small-container {
  flex: 25%;
  padding: 40px;
}

.big-container {
  justify-content: center;

  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  flex: 50%;

  padding: 40px;
}

.big-container > .gallery {
  padding: 20px;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
}



@media screen and (max-width: 700px) {}