.game {
    display: flex;

    flex-direction: column;

    justify-content: center;

    text-align: center;
  }

.score {

}

.options {
    padding: 20px;

}

.options button {
    padding: 10px;
}

.result {
    padding: 20px;

}

.game button.reload {

    padding: 20px;


}